<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jobbr.ComponentModel.ArtefactStorage" version="1.0.0-rc4" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Execution" version="1.0.0-unstable22" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.JobStorage" version="1.0.0-rc13" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Management" version="1.0.0-rc8" targetFramework="net462" />
  <package id="Jobbr.ComponentModel.Registration" version="1.0.0-rc1" targetFramework="net451" />
  <package id="Jobbr.Execution.Forked" version="1.0.0-unstable3" targetFramework="net462" />
  <package id="Jobbr.Server" version="1.0.0-unstable467" targetFramework="net462" />
  <package id="Jobbr.Server.MsSql" version="1.0.0-unstable23" targetFramework="net462" />
  <package id="Jobbr.Server.RavenDB" version="1.0.0-unstable3" targetFramework="net462" />
  <package id="Jobbr.Server.WebAPI" version="1.0.0-unstable60" targetFramework="net462" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net462" />
  <package id="RavenDB.Client" version="3.5.3" targetFramework="net462" />
  <package id="RavenDB.Server" version="3.5.3" targetFramework="net462" />
</packages>